<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="${_csrf.token}">
<meta name="_csrf_header" content="${_csrf.headerName}">
    
    <title>Customer Management</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-image: url('/img/backgrounds/bg-4.png'); background-size: cover; background-position: center;">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Customer Management</h2>
        
        <div class="card mb-4">
            <div class="card-header text-center"><h5>Add/Update Customer</h5></div>
            <div class="card-body">
                <form th:action="@{/customers/save}" th:object="${newCustomer}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label for="name">Name<span class="text-danger">*</span></label>
                        <input type="text" th:field="*{name}" class="form-control" placeholder="Enter Name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email<span class="text-danger">*</span></label>
                        <input type="email" th:field="*{email}" class="form-control" placeholder="Enter Email" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone<span class="text-danger">*</span></label>
                        <input type="text" th:field="*{phone}" class="form-control" placeholder="Enter Phone" required>
                    </div>
                    <div class="form-group">
                        <label for="address">Address<span class="text-danger">*</span></label>
                        <input type="text" th:field="*{address}" class="form-control" placeholder="Enter Address" required>
                    </div>
                    <div class="form-group">
                        <label for="image">Upload Image<span class="text-danger">*</span></label>
                        <input type="file" id="imageFile" name="imageFile" accept="image/*">
                       
                        
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
             <div class="mt-4 text-center">
            <a href="/customers" class="btn btn-secondary">View Customer List</a>
           
        </div>
         <br>
            
        </div>

       

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/customer.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
